/* Глобальные стили для прижатия футера */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* Растягивает контент на всё доступное пространство */
  padding: 20px 0; /* Отступы сверху/снизу */
}